<div class="top" id="top">
	<p class="url">Find me in app/views/home/top.html.erb</p>
	<div class="top-title">
		<h2 class="text">Have a nice day !</h2>
		<h2 class="text-sp">I am hungry !</h2>
	</div>
</div>
