.posts-index {
	.index {
		.item {
			border-bottom: solid 2px #c0c0c0;
			margin-bottom: 20px;
			.text {
				font-weight: bolder;
			}
		}
	}
}

.posts-show {
	.content {
		margin-bottom: 10px;
		.img-icon {
			margin: auto;
			@include overTab {
				margin: 0;
			}
		}
		.name {
			padding-top: 15px;
			padding-bottom: 10px;
		}
	}
	.comment {
		padding-top: 20px;
		padding-left: 20px;
		.comment-container {
			padding-left: 10px;
			.name {
				padding-top: 10px;
			}
		}
		.comment-form {
			padding-top: 20px;
		}
	}
}

.posts-form {
	input[type="text"] {
		width: 435px;
		height: 20px;
	}
}
