.user-index {
	.user-list {
		.item {
			display: flex;
			margin-bottom: 20px;
			.img-icon {
				margin-right: 20px;
			}
			.content {
				padding: 50px 0;
				flex: 1;
				.name {
					margin-bottom: 10px;
				}
			}
		}
	}
}

.users-show {
	.img-icon {
		margin: auto;
		@include overTab {
			margin: 0;
		}
	}
	.description {
		padding-top: 20px;
	}
	.posts-list {
		width: 100%;
		margin-top: 15px;
		.item {
			border-bottom: solid 2px #c0c0c0;
			margin-bottom: 20px;
			.title {
				font-weight: bolder;
			}
		}
	}
}

.user-edit {
	.field {
	}
	.pass-desc {
		font-size: 13px;
	}
}
