.user-index {
	.thead-content {
		tr {
			height: 200px;
			.img-icon {
				height: 150px;
				width: 150px;
			}
		}
	}
}

.users-show {
	.thead-title {
		font-size: 20px;
	}

	th,
	td {
		border: solid 2px; /* 枠線指定 */
		border-color: lightgrey;
		padding: 10px; /* 余白指定 */
	}
}
