.cmn-index {
	margin-left: 70px;
}

.cmn {
	margin-left: 70px;
}

.cmn-title {
	display: block;
	margin-bottom: 10px;
}

.img-icon {
	width: 180px;
	height: 180px;
	border-radius: 100px;
	overflow: hidden;
}

.link {
	margin-top: 20px;
}

.cmn-textarea {
	width: 100%;
}
