<div class="cmn posts-index">
    <p class="url">Find me in app/views/posts/index.html.erb</p>
    <h2 class="cmn-title">投稿一覧</h2>
    <div class="index">
        <% @posts.each do |post| %>
            <% if post.present? %>
                <div class="item">
                    <p class="text">投稿者</p>
                    <%= link_to post.user.username, user_path(post.user_id) %></p>
                    <p class="text">タイトル</p>
                    <%= link_to post.title, post_path(post.id) %>
                    <p class="text">投稿内容</p>
                    <%= link_to post.content, post_path(post.id) %>
                </div>
            <% else %>
                <P>投稿はありません</p>
            <% end %>
        <% end %>
    </div>
</div>
